{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit / View Device</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <section class="vh-150 gradient-custom">
      <div class="p-md-5 py-5 h-150">
        <div class="row justify-content-center align-items-center h-150">
          <div class="col-12 col-lg-12 col-xl-12">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit / View Device</h3>
                <form method="POST" id="form" novalidate>
                    {% csrf_token %}

                  <div class="row">
                    <div class="col-md-4 mb-4">

                      <div class="form-outline">
                        {{ form.SN.as_hidden }}
                        <input type="text" name="SN" value="{{ device.SN }}" placeholder="{{ form.SN.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Device serial number" for="SN">Serial Number</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4">

                      <div class="form-outline">
                        {{ form.NAME.as_hidden }}
                        <input type="text" name="NAME" value="{{ device.NAME }}" placeholder="{{ form.NAME.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Device Name" for="NAME">Name</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4">

                      <div class="form-outline">
                        {{ form.DEVICE_ID.as_hidden }}
                        <input type="number" name="DEVICE_ID" value="{{ device.DEVICE_ID }}" placeholder="{{ form.DEVICE_ID.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Device Name" for="DEVICE_ID">DEVICE_ID</label>
                      </div>

                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-4">

                      <div class="form-outline">
                        {{ form.DEVICE_NOTES.as_hidden }}
                        <input type="text" name="DEVICE_NOTES" value="{{ device.DEVICE_NOTES }}" placeholder="{{ form.DEVICE_NOTES.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Device Notes" for="DEVICE_NOTES">DEVICE_NOTES</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4">

                      <div class="form-outline">
                        {{ form.LAN_NETWORK_LIST.as_hidden }}
                        <input type="text" name="LAN_NETWORK_LIST" value="{{ device.LAN_NETWORK_LIST }}" placeholder="{{ form.LAN_NETWORK_LIST.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Network in CIDR" for="LAN_NETWORK_LIST">LAN_NETWORK_LIST</label>
                      </div>

                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.VLANS.as_hidden }}
                          <select class="js-example-basic-multiple form-control form-control-lg" name="VLANS" multiple="multiple">
                          {% for key, value in vlans.items %}
                              {% if value.checked  %}
                                <option value="{{ value.id }}" selected>{{ value.id }} | {{ value.name }}</option>
                              {% else %}
                                <option value="{{ value.id }}" >{{ value.id }} | {{ value.name }}</option>
                              {% endif %}
                          {% endfor %}
                        </select>
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Select from created VLANs" for="VLANS">VLANS</label>
                      </div>
                    </div>



                  </div>

                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.LAN_MEDIA.as_hidden }}
                          <select class="select form-control form-control-lg" name="LAN_MEDIA">
                              <option value=""></option>
                              <option value="auto">auto</option>
                              <option value="1000baseTx-FD">1000baseTx-FD</option>
                              <option value="100baseTx-FD">100baseTx-FD</option>
                              <option value="100baseTx-HD">100baseTx-HD</option>
                              <option value="10baseT-FD">10baseT-FD</option>
                              <option value="10baseT-HD">10baseT-HD</option>
                          </select>
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Physical media setting" for="LAN_MEDIA">LAN_MEDIA</label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.LAN_L2_ISO.as_hidden }}
                          <select class="select form-control form-control-lg" value="{{ device.LAN_L2_ISO }}" name="LAN_L2_ISO">
                              <option value=""></option>
                              {% if device.LAN_L2_ISO == 'Yes' %}
                                <option value="Yes" selected>Yes</option>
                              {% else %}
                                <option value="Yes">Yes</option>
                              {% endif %}
                              {% if device.LAN_L2_ISO == 'No' %}
                                <option value="No" selected>No</option>
                              {% else %}
                                <option value="No">No</option>
                              {% endif %}
                          </select>
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Layer 2 isolation enabled (Inter-VLAN routing is disabled)" for="LAN_L2_ISO">LAN_L2_ISO</label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.LAN_STROUTEn.as_hidden }}
                        <input type="text" name="LAN_STROUTEn" value="{{ device.LAN_STROUTEn }}" placeholder="{{ form.LAN_STROUTEn.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Static routing entry. Format is (original destination CIDR):(routing IP address)" for="LAN_STROUTEn">LAN_STROUTEn</label>
                      </div>
                    </div>




                  </div>

                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_SERVER.as_hidden }}
                          <select class="select form-control form-control-lg" value="{{ device.DHCP_SERVER }}" name="DHCP_SERVER">
                              <option value=""></option>
                              {% if device.DHCP_SERVER == 'Enable' %}
                                <option value="Enable" selected>Enable</option>
                              {% else %}
                                <option value="Enable">Enable</option>
                              {% endif %}
                              {% if device.DHCP_SERVER == 'Disable' %}
                                <option value="Disable" selected>Disable</option>
                              {% else %}
                                <option value="Disable">Disable</option>
                              {% endif %}
                              {% if device.DHCP_SERVER == 'Relay' %}
                                <option value="Relay" selected>Relay</option>
                              {% else %}
                                <option value="Relay">Relay</option>
                              {% endif %}
                          </select>
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP server setting" for="DHCP_SERVER">DHCP_SERVER</label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_SERVER_LEASE.as_hidden }}
                        <input type="number" name="DHCP_SERVER_LEASE" value="{{ device.DHCP_SERVER_LEASE }}" placeholder="{{ form.DHCP_SERVER_LEASE.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP lease time in seconds" for="DHCP_SERVER_LEASE">DHCP_SERVER_LEASE</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_SERVER_NETMASK.as_hidden }}
                        <input type="text" name="DHCP_SERVER_NETMASK" value="{{ device.DHCP_SERVER_NETMASK }}" placeholder="{{ form.DHCP_SERVER_NETMASK.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP server netmask" for="DHCP_SERVER_NETMASK">DHCP_SERVER_NETMASK</label>
                      </div>
                    </div>


                  </div>

                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_SERVER_POOL_START.as_hidden }}
                        <input type="text" name="DHCP_SERVER_POOL_START" value="{{ device.DHCP_SERVER_POOL_START }}" placeholder="{{ form.DHCP_SERVER_POOL_START.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="First address in the DHCP address pool (inclusive)" for="DHCP_SERVER_POOL_START">DHCP_SERVER_POOL_START</label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_SERVER_POOL_END.as_hidden }}
                        <input type="text" name="DHCP_SERVER_POOL_END" value="{{ device.DHCP_SERVER_POOL_END }}" placeholder="{{ form.DHCP_SERVER_POOL_END.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="Last address in the DHCP address pool (inclusive)" for="DHCP_SERVER_POOL_END">DHCP_SERVER_POOL_END</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_RESERVATION.as_hidden }}
                        <input type="text" name="DHCP_RESERVATION" value="{{ device.DHCP_RESERVATION }}" placeholder="{{ form.DHCP_RESERVATION.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP reserved addresses" for="DHCP_RESERVATION">DHCP_RESERVATION</label>
                      </div>
                    </div>



                  </div>

                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_LOG_ENABLE.as_hidden }}
                          <select class="select form-control form-control-lg" value="{{ device.DHCP_LOG_ENABLE }}" name="DHCP_LOG_ENABLE">

                              <option value=""></option>
                              {% if device.DHCP_LOG_ENABLE == 'Yes' %}
                                <option value="Yes" selected>Yes</option>
                              {% else %}
                                <option value="Yes">Yes</option>
                              {% endif %}
                              {% if device.DHCP_LOG_ENABLE == 'No' %}
                                <option value="No" selected>No</option>
                              {% else %}
                                <option value="No">No</option>
                              {% endif %}
                          </select>
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP logging enabled" for="DHCP_LOG_ENABLE">DHCP_LOG_ENABLE</label>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_SERVER_DNS.as_hidden }}
                        <input type="text" name="DHCP_SERVER_DNS" value="{{ device.DHCP_SERVER_DNS }}" placeholder="{{ form.DHCP_SERVER_DNS.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DNS primary and (optional) secondary addresses" for="DHCP_SERVER_DNS">DHCP_SERVER_DNS</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_SERVER_WINS.as_hidden }}
                        <input type="text" name="DHCP_SERVER_WINS" value="{{ device.DHCP_SERVER_WINS }}" placeholder="{{ form.DHCP_SERVER_WINS.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="WINS primary and (optional) secondary addresses" for="DHCP_SERVER_WINS">DHCP_SERVER_WINS</label>
                      </div>
                    </div>




                  </div>

                  <div class="row">


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_OPTION_15.as_hidden }}
                        <input type="text" name="DHCP_OPTION_15" value="{{ device.DHCP_OPTION_15 }}" placeholder="{{ form.DHCP_OPTION_15.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP Option 15 domain name" for="DHCP_OPTION_15">DHCP_OPTION_15</label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_RELAY_OPTION_82.as_hidden }}
                          <select class="select form-control form-control-lg" value="{{ device.DHCP_RELAY_OPTION_82 }}" name="DHCP_RELAY_OPTION_82">

                              <option value=""></option>
                              {% if device.DHCP_RELAY_OPTION_82 == 'Yes' %}
                                <option value="Yes" selected>Yes</option>
                              {% else %}
                                <option value="Yes">Yes</option>
                              {% endif %}
                              {% if device.DHCP_RELAY_OPTION_82 == 'No' %}
                                <option value="No" selected>No</option>
                              {% else %}
                                <option value="No">No</option>
                              {% endif %}
                          </select>
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP Option 82 (52 hex) enabled" for="DHCP_RELAY_OPTION_82">DHCP_RELAY_OPTION_82</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.DHCP_RELAY_SERVER.as_hidden }}
                        <input type="text" name="DHCP_RELAY_SERVER" value="{{ device.DHCP_RELAY_SERVER }}" placeholder="{{ form.DHCP_RELAY_SERVER.help_text }}" class="form-control form-control-lg" />
                        <label class="form-label"  data-toggle="tooltip" data-placement="top" title="DHCP primary and (optional) secondary relay addresses" for="DHCP_RELAY_SERVER">DHCP_RELAY_SERVER</label>
                      </div>
                    </div>

                  </div>


                {% for message  in messages  %}
                        <p class="alert alert-danger">{{ message  }}</p>
                {% endfor %}
                  <div class="float-left">
                      <a class="btn btn-primary btn-lg" href="/home">Cancel</a>
                  </div>
                  <div class="float-right">
                    <input class="btn btn-primary btn-lg" type="submit" value="Save" />
                  </div>

                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('#form').one('submit', function() {
            $(this).find('input[type="submit"]').attr('disabled','disabled');
        });

    </script>
    <style>
        .gradient-custom {
          /* fallback for old browsers */
          background: #56baed;

          /* Chrome 10-25, Safari 5.1-6 */
          background: -webkit-linear-gradient(to bottom right, #56baed, #56baed);

          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background: linear-gradient(to bottom right,#56baed, #56baed)
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
          font-size: 1rem;
          line-height: 2.15;
          padding-left: .75em;
          padding-right: .75em;
        }
        .card-registration .select-arrow {
          top: 13px;
        }
    </style>
</body>
</html>